[user]
	name = Kirill Rogovoy
	email = kirill@rogovoy.me
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[alias]
    co = checkout
    ; cm = commit -m
    cm = "!bash ~/.konfig/scripts/git_commit.sh"
    s = status
    d = diff
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[web]
	browser = open
[push]
	default = current
